# =====================================================================
#  PC2 - .env.example
#  Copia este archivo como .env y edita los valores
#  cp .env.example .env
# =====================================================================

# --------------------------------------------------
#  IP de ESTA PC (la tuya)
#  Ejecuta: ip addr show | grep "inet " para verla
# --------------------------------------------------
MY_IP=192.168.1.20

# --------------------------------------------------
#  Dominio de correo de ESTA PC
#  Este sera el dominio del correo: MAIL_USER@MY_DOMAIN
#  DEBE tener formato con puntos: algo.local / redes.local
#  Coordinarlo con tu compañero — deben ser diferentes
#  Ejemplos validos:   maria.lab.local  /  pc2.redes.local
#  Ejemplos INVALIDOS: maria  /  pc2  (sin puntos no funciona)
# --------------------------------------------------
MY_DOMAIN=pc2.lab.local

# --------------------------------------------------
#  IP del compañero (la PC1)
#  Pidele a tu compañero su IP: ip addr show
# --------------------------------------------------
PEER_IP=192.168.1.10

# --------------------------------------------------
#  Dominio falso del compañero
#  Mismo formato: nombre.algo.local  (con puntos)
# --------------------------------------------------
PEER_DOMAIN=pc1.lab.local

# --------------------------------------------------
#  Nombre del usuario de correo a crear
#  Este usuario podra iniciar sesion en Roundcube
# --------------------------------------------------
MAIL_USER=alumno2

# --------------------------------------------------
#  Contrasena del usuario de correo
# --------------------------------------------------
MAIL_PASSWORD=mipass456
