# =====================================================================
#  PC1 - .env.example
#  Copia este archivo como .env y edita los valores
#  cp .env.example .env
# =====================================================================

# --------------------------------------------------
#  IP de ESTA PC (la tuya)
#  Ejecuta: ip addr show | grep "inet " para verla
# --------------------------------------------------
MY_IP=192.168.1.10

# --------------------------------------------------
#  Dominio falso de ESTA PC
#  Puede ser cualquier cosa con formato: nombre.algo.local
# --------------------------------------------------
MY_DOMAIN=pc1.lab.local

# --------------------------------------------------
#  IP del compañero (la PC2)
#  Pidele a tu compañero su IP: ip addr show
# --------------------------------------------------
PEER_IP=192.168.1.20

# --------------------------------------------------
#  Dominio falso del compañero
#  Deben coordinarlo entre los dos
# --------------------------------------------------
PEER_DOMAIN=pc2.lab.local

# --------------------------------------------------
#  Nombre del usuario de correo a crear
#  Este usuario podra iniciar sesion en Roundcube
# --------------------------------------------------
MAIL_USER=alumno1

# --------------------------------------------------
#  Contrasena del usuario de correo
# --------------------------------------------------
MAIL_PASSWORD=mipass123
